// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #0c64a2;
    padding: .35rem 1rem;
}

.app-content {
    flex: 1;
}

.btn-success {
    color: #fff;
    background-color: #36b138;
    border-color: #36b138;
}

.btn-success:hover {
    background-color: #32a034;
    border-color: #32a034;
}

.table th, .table td {
    padding: 0.55rem 0.75rem;
}
